.Header {
    position: relative;
	@include post(2, 36);
    @include push(2, 36);
}

.Header-Social {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    @media #{$laptop} {
        display: block;
    }
}

.Header-Burger {
    position: absolute;
    top: 5px;
    left: 0;

    @media #{$tablet-portrait} {
        top: 10px;
    }

    @media #{$laptop} {
        display: none;
    }
}

.Header-Logo {
    text-align: center;
}

.Header-Content {
    @media #{$laptop} {
        margin-top: 30px;
        position: relative;
    }
}

.Header-Menu {
    display: none;

    @media #{$laptop} {
        @include suffix(5, 32);
        @include prefix(5, 32);
        width: 100%;
        display: block;
    }
}

.Header-PreviewSales {
    position: absolute;
    top: 0;
    right: 5px;

    @media #{$laptop} {
        top: -10px;
    }
}

.Header-Banner {
    margin-top: 20px;
}