.PictureBanner {
    width: 100%;
    height: 200px;
    background-color: #ebebeb;

    @media #{$tablet-portrait} {
        height: 400px;
    }

    @media #{$tablet-landscape} {
        height: 500px;
    }
}