@font-face {
    font-family: 'M.Video';
    src: url('/fonts/M.Video-Regular.woff') format('woff'), url('/fonts/M.Video-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'M.Video';
    src: url('/fonts/M.Video-Bold.woff') format('woff'), url('/fonts/M.Video-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'M.Video';
    src: url('/fonts/M.Video-Light.woff') format('woff'), url('/fonts/M.Video-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Karmina';
    src: url('/fonts/Karmina.woff') format('woff'), url('/fonts/Karmina.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Astoria';
    src: url('/fonts/AstoriascriptThree.woff') format('woff'), url('/fonts/AstoriascriptThree.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}