// стандартный transition
@mixin transition($property...) {
    transition-property: $property;
    transition-duration: .3s;
    transition-timing-function: ease;
}

// Правильное скрытие элементов со страницы
@mixin visually-hidden() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

// font-family нужен для работы полифила.
@mixin object-fit($property: none, $direction: center) {
    object-fit: $property;
    object-position: $direction;
    font-family: 'object-fit: #{$property}; object-position: #{$direction};';
}

@mixin reset-list {
    list-style-type: none;
    padding-left: 0;
}

@mixin reset-link {
    color: inherit;
    text-decoration: inherit;

    &:active,
    &:focus {
        outline: none;
    }
}


// Убирает браузерные стили у тега button
@mixin reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-align: inherit;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;

    }
}

//Убирает все стили с филдсетов
@mixin reset-fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}
