.Accordion {
    position: relative;

    &.is-open {
        .Accordion-Arrow {
            transform: rotate(180deg);
        }        
    }

    &.is-link-active {
        .Accordion-Title {
            color: $accent;
        }
    }
}

.Accordion-Header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Accordion-Arrow {
    @include transition(transform);
    margin-left: 10px;
}

.Accordion-Title {
    @include transition(color, opacity);
    font-size: 18px;
    color: $black;

    @media #{$laptop} {
        &:hover {
            opacity: .5;
        }
    }

    @media #{$fullhd} {
        font-size: 25px;
    }
}

.Accordion-ContentWrap {
    @include transition(height);
    position: absolute;
    top: 40px;
    left: -10px;
    background-color: $white;
    height: 0;
    overflow: hidden;
}

.Accordion-Content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
}

.Accordion-ContentGroup {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid $gray;

    &:last-child {
        border-bottom: 1px solid $gray;
    }
}

.Accordion-ContentTitle {
    font-size: 16px;
    margin-bottom: 10px;
}

.Accordion-List {
    padding-left: 20px;
}

.Accordion-Item {
    font-size: 14px;
    margin-top: 5px;
    white-space: nowrap;

    &:before {
        content: '';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $accent;
    }
}

.Accordion-ContentLink {
    @include reset-link;
    cursor: pointer;

    @media #{$laptop} {
        &:hover {
            color: $accent;
        }
    }
}

//Themes
.Accordion-ContentGroup_theme_nolist {
    padding-bottom: 10px;
}