.Menu-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Menu-Item {
    @media #{$tablet-landscape} {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.Menu-Link {
    @include transition(color, opacity);
    @include reset-link;
    font-size: 18px;
    color: $black;

    @media #{$laptop} {
        &:hover {
            opacity: .5;

            &.nuxt-link-exact-active {
                opacity: 1;
            }
        }
    }

    @media #{$fullhd} {
        font-size: 25px;
    }

    &.nuxt-link-exact-active {
        color: $accent;
        cursor: default;
    }
}

// Themes
.Menu_theme_mobile {
    .Menu-Link {
        font-size: 16px;
    }

    .Menu-List {
        flex-direction: column;
        justify-content: flex-start;
    }

    .Menu-Item {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #b7b7b7;
        text-transform: uppercase;
        
        &:last-child {
            border-bottom: 1px solid #b7b7b7;
        }
    }

    .Accordion-Header {
        justify-content: space-between;
    }

    .Accordion-Title {
        font-size: 16px;
        text-transform: uppercase;
    }

    .Accordion-Content {
        padding-right: 0; 
    }

    .Accordion-ContentWrap {
        width: 100%;
        top: 10px;
        left: 0;
        position: relative;
        background-color: transparent;
    }

    .Accordion-ContentGroup {
        border: 0;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    .Accordion-Item {
        margin-top: 15px;
    }
}

.Menu_theme_footer {
    .Menu-Item {
        margin-right: 30px;
        margin-bottom: 20px;

        @media #{$laptop} {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    .Menu-List {
        @media #{$tablet-landscape-only} {
            justify-content: flex-start;
        }
    }

    .Menu-Link {
        color: $white;

        @media #{$laptop} {
            &:hover {
                opacity: .5;
    
                &.nuxt-link-exact-active {
                    opacity: 1;
                }
            }
        }

        &.nuxt-link-exact-active {
            color: $white;
        }
    }
}